:root { 
--black_900_7f:#0000007f; 
--gray_50_01:#fafafa; 
--gray_50_02:#f4f7fe; 
--light_green_A400:#83ea00; 
--blue_A700:#2d64f3; 
--blue_gray_100_01:#cecece; 
--red_400:#e8505b; 
--black_900_3f:#0000003f; 
--green_A200:#7ae2aa; 
--gray_50:#f7f7f9; 
--green_A200_33:#7ae2aa33; 
--black_900_66:#00000066; 
--black_900:#000000; 
--blue_gray_700:#455a64; 
--blue_gray_900:#263238; 
--gray_600:#707070; 
--gray_900_02:#262626; 
--gray_900_03:#292929; 
--gray_400:#c2c2c2; 
--blue_gray_100:#d9d9d9; 
--gray_600_01:#6f727a; 
--gray_500:#a0a0a0; 
--red_A200:#ff5454; 
--red_A100:#ff7f7f; 
--gray_900_00:#29292900; 
--gray_900:#222325; 
--gray_900_01:#232325; 
--red_A100_33:#ff7f7f33; 
--gray_200:#efefef; 
--gray_300:#dfe1e6; 
--gray_300_01:#e0e0e0; 
--gray_100:#f2f2f2; 
--gray_900_7f:#2323257f; 
--white_A700:#ffffff; 
--blue_A700_0c:#2d64f30c; 
}